# we do not store binary outputs in Flex

# windows
*.exp
*.ilk

# android
*.apk
*.tlog
*.vs/
demo/d3d/shaders/blurDepthPS.hlsl.h
demo/d3d/shaders/compositePS.hlsl.h
demo/d3d/shaders/debugLinePS.hlsl.h
demo/d3d/shaders/debugLineVS.hlsl.h
demo/d3d/shaders/diffuseGS.hlsl.h
demo/d3d/shaders/diffusePS.hlsl.h
demo/d3d/shaders/diffuseVS.hlsl.h
demo/d3d/shaders/ellipsoidDepthGS.hlsl.h
demo/d3d/shaders/ellipsoidDepthPS.hlsl.h
demo/d3d/shaders/ellipsoidDepthVS.hlsl.h
demo/d3d/shaders/imguiPS.hlsl.h
demo/d3d/shaders/imguiVS.hlsl.h
demo/d3d/shaders/meshAsyncComputeBenchPS.hlsl.h
demo/d3d/shaders/meshPS.hlsl.h
demo/d3d/shaders/meshShadowPS.hlsl.h
demo/d3d/shaders/meshVS.hlsl.h
demo/d3d/shaders/passThroughVS.hlsl.h
demo/d3d/shaders/pointGS.hlsl.h
demo/d3d/shaders/pointPS.hlsl.h
demo/d3d/shaders/pointShadowPS.hlsl.h
demo/d3d/shaders/pointThicknessGS.hlsl.h
demo/d3d/shaders/pointThicknessPS.hlsl.h
demo/d3d/shaders/pointThicknessVS.hlsl.h
demo/d3d/shaders/pointVS.hlsl.h
*.ipdb
*.iobj
*.recipe
